//variables
$tablet:768px;
$desktop:1200px;

.hero{
    width:100%;
    box-sizing: border-box;
    height:183px;
    background-color:rgb(0,0,0);
    @media screen and(min-width:$tablet){
        height:400px;
    }
    @media screen and (min-width:$desktop){
        height:540px;
        justify-content: space-between;
    }
    &__video{
        box-sizing:border-box;
        width:100%;
        height:100%;
        background-image: url("../../Assets/Images/video-list-0.jpg");
        background-size:cover;
        display:flex;
        flex-wrap:wrap;
        align-items: flex-end;
        padding:16px;
        background-repeat: none;
        margin-left:auto;
        margin-right:auto;
        @media screen and (min-width: $tablet){
            width:700px;
        }
        @media screen and (min-width:$desktop){
            width:944px;
        }
    }

    &__play{
        background-color:rgba(0,0,0,0.5);
        background-image: url("../../Assets/Icons/SVG/Icon-play.svg");
        background-size:1rem;
        background-repeat:no-repeat;
        background-position: center;
        border:none;
        width:15%;
        height:8vw;
        margin-right:8px;
        @media screen and(min-width:$tablet){
            width:10%;
            height:5vw;
            margin-left:8px;
            margin-right:8px;
        }
        @media screen and (min-width:$desktop){
            height:3vw;
            width:5%;
            margin-left:0;
        }
    }
    
    &__video-player{
        width:50%;
        height:8vw;
        margin-right:8px;
        align-items: center;
        background-image:rgba(0,0,0,0.5);
        @media screen and (min-width:$tablet){
            height:5vw;
            width:70%;
        }
        @media screen and (min-width:$desktop){
            width:751px;
            height:3vw;
        }
    }
    &__audio-cont{
        display:flex;
        padding:0 10px 0 10px;
        flex-wrap:wrap;
        justify-content: space-between;
        height:8vw;
        width:20%;
        background-color:rgba(0,0,0,0.5);
        @media screen and(min-width:$tablet){
            height:5vw;
            width:10%;
        }
        @media screen and (min-width:$desktop){
            width:7%;
            height:3vw;
        }
    }
    &__full-screen{
        background-color:rgba(0,0,0,0);
        background-image: url("../../Assets/Icons/SVG/Icon-fullscreen.svg");
        background-size:1rem;
        background-repeat:no-repeat;
        background-position: center;
        border:none;
        width:5vw;
        height:100%;
        @media screen and (min-width:$tablet){
            width:4vw;
        }
        @media screen and (min-width:$desktop){
            width:2vw;
        }
    }
    &__volume{
        background-color:rgba(0,0,0,0);
        background-image: url("../../Assets/Icons/SVG/Icon-volume.svg");
        background-size:1rem;
        background-repeat:no-repeat;
        background-position: center;
        border:none;
        width:5vw;
        height:100%;
        @media screen and (min-width:$tablet){
            width:4vw;
        }
        @media screen and (min-width:$desktop){
            width:2vw;
        }
    }
}