@import '../../styles/mixins';
@import '../../styles/variables';


.comment-display{
    box-sizing: border-box;
    width:90%;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    border-bottom:1px solid $mercury;
    border-top:1px solid $mercury;
    margin-left:16px;
    margin-right:16px;
    padding:12px 0;
    @include tablet{
        padding-top:24px;
        padding-bottom:24px;
        justify-content:flex-start;
    }
    @include desktop{
        justify-content:flex-start;
        margin:0;
        width:100%;
        padding:12px 0;
    }

    &__name-comment-cont{
        width:68vw;
        box-sizing:border-box;
        margin:0;
        display:flex;
        flex-direction:row;
        justify-content:flex-start;
        flex-wrap:wrap;
        font-size:14px;
        @include tablet{
            width:624px;
            margin-left:24px;
        }
        @include desktop{
            width:40vw;
            margin-left:20px;
        }
        
    }
    &__comment{
        width:100%;
        flex-basis:100%;
        @include tablet{
            margin:0;
        }
        @include desktop{
            font-size:0.8rem;
            line-height:1.5rem;
        }
    }
    &__image-icon{
        width:40px;
        height:40px;
        background-color:$mercury;
        border:none;
        border-radius:100%;
        @include desktop{
            width:35px;
            height:35px;
        }
    }
    &__name{
        margin-top:0;
        @include desktop{
            font-size:0.8rem;
        }
    }
    &__time{
       margin-left:10%;
       margin-top:0;
       line-height:24px;
       color:silver;
    }
}
