@font-face{
    font-family:avenir;
    src:url("../assets/_GlobalFont/AvenirNextProLT/LinotypeAvenirNextLTProRegular.otf");
}
@font-face{
    font-family:avenir-bold;
    src:url("../assets/_GlobalFont/AvenirNextProLT/LinotypeAvenirNextLTProBold.otf");
}
@font-face{
    font-family:avenir-thin;
    src:url("../assets/_GlobalFont/AvenirNextProLT/LinotypeAvenirNextLTProThin.otf");
}

