@import "_mixins.scss";
@import "_variables.scss";

.comment-section{
    padding-left:16px;
    padding-right:16px;
    box-sizing: border-box;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    box-sizing:border-box;
    flex-basis:100%;
    @include tablet{
        margin:16px 24px;
    }
    @include desktop{
        margin:16px 180px;
    }
    &__header{
        flex-basis:100%;
        font-size:1rem;
        margin-top:30px;
        margin-bottom:32px;
        @include tablet{
            font-size:2rem;
        }
    }
    &__image{
        width:45px;
        height:45px;
        border:none;
        border-radius:100%;
        background-image:url("../../Assets/Images/Mohan-muruge.jpg");
        background-size:cover;
        background-position:center;
        background-position-x:0.1rem;
        @include tablet{
            margin-left:12vw;
        }
    }
    &__form{
        width:68vw;
        box-sizing:border-box;
        margin:0;
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        @include m-h4-paragraph;
        @include tablet{
            width:60vw;
            margin-right:12vw;
        }
        @include desktop{
            width:40vw;
        }
        textarea{
            margin:10px 0 20px 0;
            padding:0.8rem;
            box-sizing: border-box;
            border-radius:5px;
            border:2px solid #0095FF;;
            width:100%;
        }
        label{
            margin:0;
            font-weight:bold;
            font-size:12px;
            color:$silver;
        }
        .name{
            border:2px solid $black;
        }
        button{
            padding:15px 10px;
            border-radius:5px;
            border:none;
            width:100%;
            margin-bottom:16px;
            background-color:#0095FF;
            color:$white;
            @include tablet{
                width:30%;
                margin-left:70%;
                padding:15px;
            }
        }
        
    }
}