@import "_mixins.scss";
@import "_variables.scss";

$tablet:768px;
$destkop:1200px;

.comment-section{
    padding-left:16px;
    padding-right:16px;
    box-sizing: border-box;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    box-sizing:border-box;
    flex-basis:100%;
    @media screen and(min-width:$tablet){
        margin:16px 40px 16px 16px;
        padding:0;
        align-items: center;
    }
    @include desktop{
        //margin:16px 180px;
    }
    &__header{
        flex-basis:100%;
        font-size:1rem;
        margin-top:30px;
        margin-bottom:32px;
        @media screen and(min-width:$tablet){
            font-size:1rem;
        }
    }
    &__image{
        width:45px;
        height:45px;
        border:none;
        border-radius:100%;
        background-image:url("../../Assets/Images/Mohan-muruge.jpg");
        background-size:cover;
        background-position:center;
        background-position-x:0.1rem;
        @include tablet{
            //margin-left:12vw;
        }
    }
    &__form{
        width:68vw;
        box-sizing:border-box;
        margin:0;
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        @include m-h4-paragraph;
        @include tablet{
            flex-direction: row;
            justify-content: space-between;
            width:616px;
           
        }
        @include desktop{
            width:40vw;
        }
        label{
            margin:0;
            font-weight:bold;
            font-size:12px;
            color:$silver;
            @media screen and (min-width:$tablet){
                flex-basis:100%;
                margin-bottom:5px;
            }
        }
        .name{
            border:2px solid $black;
        }
    
    }
    &__comment{
        margin:10px 0 20px 0;
        padding:0.8rem;
        box-sizing: border-box;
        border-radius:5px;
        border:2px solid #0095FF;;
        width:100%;
        @media screen and(min-width:768px){
            width:440px;
            height:50px;
            margin:0;
            box-sizing:border-box;
        }
    }
    &__submit{
        padding:15px 10px;
        border-radius:5px;
        border:none;
        width:100%;
        margin-bottom:16px;
        background-color:#0095FF;
        color:$white;
        align-self: center;
        @media screen and(min-width:$tablet){
            width:160px;
            padding:18px 10px;
            margin:0;
            
        }
    }
}