@import "./_variables.scss";

//device type

@mixin mobile{
    @media screen and(min-width:$mobile-size) {
        @content;
    }
}

@mixin tablet{
    @media screen and(min-width:$tablet-size){
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width:$desktop-size){
        @content;
    }
}

//headings
// tablet and desktop text styles
@mixin hero-header{
    font-size:60px;
    line-height:68px;
    margin:0;
    
}
@mixin header1{
    font-size:36px;
    line-height:44px;
   
}
@mixin header2{
    font-size:24px;
    line-height:32px;
   
    
}
@mixin header3{
    font-size:16px;
    line-height:24px;
   
}
@mixin header4{
    // paragraph and comments
    font-size:14px;
    line-height:22px;
}
@mixin header4-lists-contactinfo{
    font-size:14px;
    line-height:20px;
}
@mixin header5-labels{
    font-size:12px;
    line-height:20px;
    margin:0;
}

// mobile text styles

@mixin m-hero{
    font-size:32px;
    line-height:40px;
   
}
@mixin m-header1{
    font-size:24px;
    line-height:32px;
    
    
}
@mixin m-header2{
    font-size:14px;
    line-height:22px;
}

@mixin m-h4-paragraph{
    font-size:13px;
    line-height:18px;
    
}
@mixin m-h4-lists-contactinfo{
    font-size:12px;
    line-height:20px;
    
}

@mixin m-h5-labels{
    font-size:12px;
    line-height:20px;
}
@mixin link-hover{
    :hover{
        color:red;
        opacity:0.7;
        border:1px solid blue;
        padding:5px;
        border-radius:5px;

        
    }
}
