//device dimensions
$mobile-size:320px;
$tablet-size:768px;
$desktop-size:1200px;

//colors
$black:#323232;
$instock-blue:#004892;
$brainflix-blue:#0095FF;
$white:#ffffff;
$silver:#AFAFAF;
$instock-blue-dark:#002F5F;
$brainflix-blue:#0065AD;
$mercury:#E1E1E1;
$alabaster:#FAFAFA;

//typography
$global-font-color:#323232;