@import '../../styles/mixins';

.sideVideo{
    width:100%;
    box-sizing: border-box;
    padding:24px 16px 0 16px ;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    @include tablet{
        justify-content:flex-start;
        width:70%;
    }
    @include desktop{
        width:100%;
    }
    
    &__img{
        width:120px;
        height:70px;
        object-fit: cover;
        border-radius:5px;
    }
    &__description{
        width:53%;
        margin-left:10px;
        @include tablet{
            margin-left:15px;
        }
    }
    &__video-title{
        width:100%;
        font-size:0.8rem;
        margin:0;
        @include tablet{
            font-size:0.9rem;
        }
        @include desktop{
            font-size:0.8rem;
        }
    }
    &__artist{
        width:100%;
        margin-top:10px;
        margin-bottom:0;
        font-size:0.8rem;
    }
}

